*{
    margin: 0;
    padding: 0;
}
body{
background-color: #212529;
}
#header{
    padding: 5px;
    position: sticky;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    line-height: 40px;
    height: 70px;
    min-height: 60px;
}
.navbar-nav a{
    color: white;
    transition: 0.5s ease;
    font-size: 18px;
    font-weight: 600;
}
.navbar-nav a:hover{
    color: #d63384;
    transition: 0.5s ease;
}
.navbar-nav a:active{
    color: #d63384;
}
#navbarNav{
    margin-left: 65%;
}
.navbar-toggler{
    color: white;
}
.home-banner{
    background-image: url("./images/banner-bg.jpg");
    padding: 160px 60px;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 24px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
}
.banner-content{
    color: white;
    text-align: left;
    line-height: 40px;

}
.banner-content h1{
    font-weight: 700;
    font-size: 62px;
}
.banner-content p{
    padding-top: 18px;
    font-size: 20px;
}

.banner-content button{
    width: 160px;
    border: none;
    background-color: #d63384;
    color: white;
    border-radius: 24px;
    transition: 0.5s ease;
    margin-top: 15px;
    font-weight: 600;
}
.banner-content button:hover{
    color: #d63384;
    background-color: #dee2e6;
    transition: 0.5s ease;
    font-weight: 600;
}
.banner-content span{
    color: #d63384;
}
#game-list {
    margin-top: 1%;
    background-color:#27292a;
    padding: 5%;
    border-radius: 20px;
}
.favourite-game{
    color: white;
    text-transform: uppercase;
    font-style: italic;

}
.favourite-game h1{
    font-weight: 800;
    font-size: 48px;
    padding-bottom: 2%;
}
.favourite-game span{
    color: #d63384;
}
.game-item{
    padding: 2%;
    background-color: #495057;
    border-radius: 15px;
    cursor: pointer;

}
.game-item h1{
    color: #d63384;
    font-size: 42px;
    font-weight: 800;
    font-style: italic;
}
.game-content{
    color: white;
    text-align: left;
    padding-top: 4%;
    font-size: 16px;
}
.game-item img{
    width: 100%;
    height: 5%;
    border-radius: 20px;
    transition: 0.5s ease;
}
.game-item img:hover{
    transform: scale(1.02);
    transition: 0.5s ease;
}
#reviews{
    margin-top: 5%;
    background-color: #27292a;
    border-radius: 20px;
    padding: 5%;
    margin-bottom: 5%;
}
.reviews-header{
    color: white;

    font-style: italic;

}
.reviews-header h1{
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
}
.reviews-header span{
    color: #d63384;
}
.form-group label{
    color: white;
}
.review-form{
    padding-top: 3%;
}
.review-form label{
    padding-bottom: 1%;
    padding-top: 1%;
    font-weight: 600;
}
.send-review{
    background-color: #d63384;
    color: white;
    margin-top: 2%;
    font-weight: 700;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 20px;
    transition: 0.5s ease;
}
.send-review:hover{
    background-color: white;
    color: #d63384;
    transition: 0.5s ease;
    font-weight: 600;
}
footer{

    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #27292a;

}
.footer-content{
    text-align: center;
    color: white;

}
#login{
    margin-top: 3%;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height:100vh;
    width: 100%;
}
.login-all{


}
.login-header{
    text-align: center;
    color: #d63384;
    font-style: italic;
    padding-bottom: 3%;
    padding-top: 2%;
    font-weight: 600;
}
.login-header h1{
    font-weight: 800;
    font-size: 52px;
}
.login-content{
    text-align: center;
}
.login-content label{
    color: white;
    font-weight: 600;

}
.login-content input{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 16px;
    padding: 5px;
}
.login-content button{
    width: 190px;
    border: none;
    background-color: #d63384;
    color: white;
    border-radius: 24px;
    padding: 5px;
    transition: 0.5s ease;
    margin-top: 15px;
    font-weight: 600;
}
.login-content a{
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s ease;
    color: #d63384;
}
.login-content a:hover{
    color: white;
    transition: 0.5s ease;
}
.login-content button:hover{
    color: #d63384;
    background-color: #dee2e6;
    padding: 5px;
    transition: 0.5s ease;
    font-weight: 600;
}
#registration{

    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.registration-header{

    text-align: center;
    padding-bottom: 11%;
}
.registration-header h1{
    font-weight: 800;
    color: #d63384;
    font-style: italic;
    font-size: 52px;
}
.registration-form{
    text-align: center;
}
.registration-content {
    background-color: #27292a;
    opacity: 5;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
}
.registration-form input{
    display: block;
    margin: 0 auto;
    border: none;
    padding: 5px;
    border-radius: 12px;
}
.registration-form button{
    text-align: center;
    margin-top: 2%;
    background-color: #d63384;
    border-radius: 18px;
    color: white;
    width: 190px;
    margin-bottom: 10%;
    padding: 5px;
}
#games-table{
    margin-top: 5%;

}
.game-table-content{
    background-color: #27292a;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 5%;
}
.game-table-header{
    padding-bottom: 2%;

}
.game-table-header h1{
    color: white;
    font-style: italic;
    font-size: 52px;
    font-weight: 800;
}
.game-table-header span{
    color: #d63384;
}
table{
    color: white;
}
th{
    color: white;

}
td{
    color: white;
    margin-top: 2%;
}
tr{
    transition: 0.5s ease;
}
td img{
    max-width: 100%;
    height: auto;

   border-radius: 20px;
}
td p{
    text-align: center;
    font-weight: 700;
}
tr:hover{
    background-color: #d63384;
    transition: 0.5s ease;
}
.pridaj{
    background-color: #d63384;
    color: white;
    border: none;
    float: left !important;
    
    
}
.pridaj:hover{
    background-color: white;
    color: #d63384;
}
.pridaj a{
    text-decoration: none;
    color: white;
}
.pridaj a:hover{
    color: #d63384;
}
.add_games{
    margin-bottom: 11%;
}
.edit-header{
    margin-top: 5%;
    
}
.send-review a{
    text-decoration: none;
    color: white;
}
.send-review a:hover{
    color: #d63384;
}
#sprava{
    color: white;
    position: relative;
    z-index: 100;
    display: none;
}
