*{
    margin: 0;
    padding: 0;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #003b6f;

}
p{
    text-align: center;
}
